<!-- <div>Samsung TV</div>
<div *ngIf="isAvailableProduct">LG TV</div>
<div>Onida TV</div>


<ul *ngFor="let name of names">
    <li>{{name}}</li>
</ul>

<ul *ngFor="let employee of employees">
    <li>{{employee.empId}}-{{employee.empName}}-{{employee.empSal}}</li>
</ul> -->
<div class="text text-danger">Text Here</div>
<div class="text text-success">Text Here</div>



<button type="button" class="btn">Basic</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-link">Link</button>