<div>This is APPComponent Content</div>
<!-- <span>{{title}}</span> -->
<!-- <app-vihaan></app-vihaan>  -->
<!-- <app-interpol-binding></app-interpol-binding> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-twoway-binding></app-twoway-binding> -->
<!-- <app-struct-dirs></app-struct-dirs> -->
<!-- <app-attr-dirs></app-attr-dirs> -->
<!-- <app-employees></app-employees> -->
<!-- <app-predefined-pipes></app-predefined-pipes> -->
<!-- <app-parent></app-parent> -->
<app-one></app-one>
<app-two></app-two>